*{
  margin: 0;
  padding: 0;
}

.header{
  background-color:rgb(6, 31, 63);
  padding-top: 15px;
  padding-left: 40px;
  padding-bottom: 15px;

}
.mark1{
  color: rgb(8, 148, 129);
  font-size: larger;
}
.mark2{
  width: 90%;
}
.mark3{
  background-color: rgb(12, 31, 36);
  padding-left: 40px;
  padding-top: 20px;
  --bs-gutter-x: 0rem;
}
.mark4{
  font-size: 28px;
}
.mark5{
  text-decoration: none;
  color: white;
}
.mark6{
  padding-left: 40px;
  padding-top: 20px;
  --bs-gutter-x: 0rem;
}
.mark6 h4{
  color: rgb(8, 148, 129);
  text-decoration:underline ;
  text-decoration-thickness: 4px;
  font-weight: 700;
}
.mark7{
  color: rgb(8, 148, 129);
  font-size: small;
  font-style: italic;
}
.mark8{
  color: blue;
}